*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clr {
    clear: both;
}

.learn-more-btn {
    padding: 15px 30px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 10px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}

.home {
    background-image: url(images/business-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: #fff;
    text-align: center;
}

.home .home-transparent {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    position: relative;
}

.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.nav ul {
    padding: 0px 50px;
    list-style-type: none;
    overflow: auto;
}

.nav ul li {
    float: right;
    padding: 15px 10px 10px 10px;
}

.nav .small-logo {
    float: left;
    width: 12%;
}

.nav .small-logo img {
    width: 100%;
}

.nav ul .brdr {
    border-top: 2px solid transparent;
}

.nav ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav .contact-btn {
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 3px;
}

.nav .home-brdr {
    border-top: 2px solid #4caf50;
}

.home .panel {
    width: 40px;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 200px;
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.home .panel ul {
    padding: 10px 0px;
    list-style-type: none;
}

.home .panel li {
    width: 50%;
    height: 50%;
}

.home .panel li a {
    padding: 15px 10px 10px;
}

.home .panel li img {
    width: 100%;
}

.home h1 {
    padding-top: 24%;
    font-size: 20px;
    font-weight: lighter;
}

.home p {
    padding: 2% 10%;
    font-size: 50px;
}

.home .btn-bottom {
    padding-bottom: 20%;
}

.features {
    overflow: auto;
}

.features .feature {
    width: 33.33%;
    overflow: auto;
    float: left;
}

.features .feature-icon {
    width: 15%;
    float: left;
    padding-right: 10px;
}

.features .feature-icon img {
    width: 100%;
}

.features .feature-description {
    width: 85%;
    float: left;
    padding-right: 20px;
}

.features .feature-description h3 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.features .feature-description p {
    color: lightslategray;
}

.services {
    background-color: #F9F9F9;
    overflow: auto;
}

.services h2,
.services .par {
    text-align: center;
}

.services h2 {
    font-size: 32px;
    font-weight: 400;
}

.services .par {
    font-size: 20px;
    padding: 20px 0px 40px 0px;
}

.services p {
    padding: 10px 0px;
    color: lightslategray;
    line-height: 30px;
}

.services .service {
    width: 33.33%;
    float: left;
    padding: 15px;
}

.services .service .service-img {
    width: 100%;
}

.services .service-description {
    background-color: #fff;
    padding: 20px;
}

.services .service-description h3 {
    font-weight: 500;
}

.services .service .learn-next {
    width: 2%;
}

.services .service a {
    text-decoration: none;
    color: lightslategray;
}

.secret .container {
    overflow: auto;
}

.secret .secret-img {
    width: 50%;
    float: right;
}

.secret .secret-img img {
    width: 100%;
}

.secret .secret-description {
    width: 50%;
}

.secret h2 {
    font-size: 26px;
    font-weight: 400;
    padding: 20px 0px;
}

.secret p {
    font-size: 16px;
    color: lightslategray;
    line-height: 30px;
    padding: 10px 20px 0px 0px;
}

.secret .secret-sorts {
    overflow: auto;
    padding: 30px 10px;
}

.secret .secret-sorts .check-icon {
    width: 3%;
    float: left;
    margin-top: 3%;
    margin-right: 3%;
}

.secret .secret-sorts img {
    width: 100%;
}

.comments {
    background-color: #F9F9F9;
    overflow: auto;
}

.comments .icon {
    text-align: center;
    padding: 10px 0px 30px;
}

.comments .icon img {
    width: 3%;
}

.comments .comment {
    width: 33.333%;
    float: left;
    padding: 0px 20px;
    line-height: 30px;
    color: lightslategray;
}

.comments .comment .comment-par {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.comments .comment .comment-par::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 10%;
    border: solid 10px;
    border-color: #fff transparent transparent transparent;
}

.comments .comment .commenter {
    padding: 15px 20px 5px;
    color: dimgrey;
}

.comments .comment h4 {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 100;
}

.rating .container {
    overflow: auto;
    text-align: center;
}

.rate {
    width: 25%;
    float: left;
}

.rate img {
    width: 15%;
}

.rate span {
    font-size: 50px;
    color: lightslategray;
}

.rate h3 {
    font-weight: lighter;
}

.view {
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.view-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10% 0px;
}

.view h1 {
    font-weight: 400;
    padding-bottom: 20px;
}

.view p {
    width: 70%;
    margin: auto;
    font-size: 24px;
    font-weight: 200;
}

.other-services .container {
    overflow: auto;
}

.other-services .container p {
    color: lightslategray;
    font-size: 14px;
}

.other-services .container .other-services-head {
    text-align: center;
    padding-bottom: 30px;
}

.other-services .container .other-services-head h2 {
    font-size: 36px;
    font-weight: 400;
    padding: 20px 0px;
}

.other-services .container .other-services-head p {
    font-size: 20px;
}

.other-services .container .service {
    width: 33.33%;
    float: left;
    padding: 20px;
    line-height: 30px;
}

.other-services .container .service h3 {
    font-weight: 200;
    padding-bottom: 10px;
}

.sponsors {
    background-color: #F9F9F9;
}

.sponsors .container {
    text-align: center;
}

.sponsors .container .sponsor-img {
    width: 15%;
    padding: 0px 15px;
}

.contact-us {
    background-color: #4caf50;
}

.contact-us .container {
    overflow: auto;
}

.contact-us .container a {
    text-decoration: none;
    margin-top: 20px;
    padding: 20px 40px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.contact-us .contact-us-content {
    width: 70%;
    float: left;
}

.contact-us .contact-us-content h1 {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: lighter;
    color: #fff;
}

.contact-us .contact-us-content p {
    font-size: 22px;
    color: #fdf;
}

.details {
    overflow: auto;
    background-color: #1f1f1f;
    line-height: 35px;
}

.details h3 {
    color: #fff;
    font-weight: lighter;
    padding: 0px 0px 20px;
}

.details .detail {
    width: 25%;
    float: left;
}

.details .detail .about-us {
    padding-left: 0px;
    padding-right: 10px;
}

.details .detail .hours,
.details .detail .page,
.details .detail .sub-detail {
    overflow: auto;
}

.details p {
    font-size: 14px;
    color: #58606b;
    padding: 0px 0px 10px 30px;
}

.details .detail img {
    width: 7%;
    float: left;
    padding: 5px;
}

.details .detail a {
    text-decoration: none;
    font-size: 14px;
    color: #58606b;
    padding-left: 7px;
}

.details .detail .sub-detail img {
    width: 10%;
    float: left;
    padding: 5px;
}

.details .detail .detail-background {
    background-image: url(images/contact-details-map.png);
    background-size: 100% 100%;
}

.details .detail .detail-background .back-trans {
    background-color: rgba(31, 31, 31, 0.77);
}

.copyright {
    background-color: #1b1b1b;
}

.copyright .container {
    overflow: auto;
    padding: 30px 0px;
}

.copyright p {
    font-size: 14px;
    color: #58606b;
    float: left;
}

.copyright .social {
    overflow: auto;
}

.copyright .social img {
    width: 5%;
    float: right;
    border-radius: 50%;
    padding: 0px 10px;
}

@media screen and (max-width:900px) {
    body .nav .small-logo {
        visibility: hidden;
    }
    body .nav .contact-btn {
        display: none;
    }
    body .nav ul li {
        padding: 10px 5px;
    }
    body .nav ul a {
        font-size: 14px;
        font-weight: 100;
    }
    body .features .feature,
    body .services .service,
    body .secret .secret-description,
    body .secret .secret-img,
    body .comments .comment,
    body .other-services .container .service,
    body .contact-us .contact-us-content,
    body .details .detail,
    body .copyright .container,
    body .copyright .social {
        width: 100%;
    }
    body .features .feature-icon img {
        width: 75%;
    }
    body .comments .icon .comm {
        width: 10%;
    }
    body .comments .icon img {
        width: 5%;
    }
    body .rating .rate,
    body .sponsors .container .sponsor-img {
        width: 50%;
        padding: 20px;
    }
    body .home h1,
    body .view h1,
    body .contact-us .contact-us-content h1 {
        font-size: 20px;
    }
    body .home p,
    body .view p {
        font-size: 14px;
    }
    body .copyright p {
        padding: 10px;
    }
    body .copyright .social {
        width: 40%;
        margin: 0px 10px;
    }
    body .copyright .social img {
        width: 25%;
    }
}

@media screen and (max-width:430px) {
    body .nav ul .brdr {
        display: none;
    }
}